@model NewspaperCMS.Models.article

@{
    ViewData["Title"] = "Create";
   
    string role = @ViewBag.Role;
}

<h1>Create</h1>
<h4>article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (role == "2")
            {
                <div class="form-group" hidden>
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" value = "1" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
                </div>
            }
            else
            {
                 <div class="form-group" >
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label asp-for="article_date" class="control-label"></label>
                <input asp-for="article_date" class="form-control" />
                <span asp-validation-for="article_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="content" class="control-label"></label>
                <input asp-for="content" class="form-control" />
                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            @if (role == "2")
            {
               <div class="form-group">
               
                <label asp-for="writer_id" class="control-label"></label>
                <input asp-for="writer_id" value=@ViewBag.UserId   class="form-control"  />
                <span asp-validation-for="writer_id" class="text-danger"></span>

              </div>
            }
              else 
            {
               <div class="form-group" >
                <label asp-for="writer_id" class="control-label"></label>
                <input asp-for="writer_id"    class="form-control"  />
                <span asp-validation-for="writer_id" class="text-danger"></span>

              </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
