.form-floating {
    color: #3d3d3d;
   
}

h1 {
    color: #ffffff
}

button, #SignIn {
    background-image: linear-gradient(to right, #ff824a, #ffb238);
}

input {
    border-color: #ca8541;
}

#forgot-password {
    color: #ffa64d;
}
a {
    color: #ffffff;
}

.noAcc {
    color: #898989;
}
#content {
    position: relative;
}

    #content img {
        position: fixed;
        top: 57px;
        right: 0px;
        
    }